/* Navbar.css */

.app__navbar {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente no centro */
    background-color: #008000; /* Cor de fundo verde */
    padding: 10px 20px;
    color: white; /* Cor do texto */
    width: 100%; /* Garante que a Navbar ocupe toda a largura da tela */
    margin: 0; /* Remove margens */
    top: 0px;
    position: absolute;
    left: 0px;
    padding: 0; /* Remove preenchimentos */
   }
   
   .menu-icon {
    background: none;
    border: none;
    cursor: pointer;
   }
   
   .app__navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center; /* Centraliza os itens horizontalmente */
   }
   
   .app__navbar-links.active {
    display: block;
   }
   
   .app__navbar-links li {
    padding: 5px 0;
   }
   
   .app__navbar-links li a {
    text-decoration: none;
    color: white;
   }
   
   .app__navbar-links li a:hover {
    color: #ddd;
   }

   .imga {
    margin-right: 8%;
    width: 70px;
   }