.texto__card{
    color: snow;
    font-size:18px;
}

.container_card {
    background-color: #5db864;
    border-radius: 10px;
    width: 15%;
    height: 350px; 
    margin-left: 40px;
    animation: rotateCard 1s ease-in-out ; 
}

.container_card:hover {
    transform: scale(1.1); 
}

@keyframes rotateCard {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.caixa__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.foto__card{
    width: 150px;
    border-radius: 50%;
    margin-left: 19%;
    height: 160px;
}

.nome__card{
    font-size:25px;
    color:snow
}

@media only screen and (max-width: 768px) {
    .caixa__cards {
        flex-direction: column; 
        align-items: center; 
    }

    .container_card {
        width: 80%; 
        margin: 20px 0; 
    }
}
