
.container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 20px;
  background-color: white; 
  height: 95vh; 
  gap: 10px; 
}

h1 {
  font-size: 2.5rem; 
  color: #333;
}

img {
  max-width: 100%; 
  height: auto;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


.fadeInUp-animation {
  animation: fadeInUp 1s ease-out;
}

.animated-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #278103;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  opacity: 0; 
  animation: fadeInUp 0.5s ease-in-out forwards;
  transition: background-color 0.3s, transform 0.3s;
}


.animated-button span {
  position: relative;
  z-index: 1;
}


.animated-button:hover {
  background-color: #24a105;
  transform: scale(1.05);
}

.animated-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: all 0.4s ease-out;
  z-index: 0;
  transform: translate(-50%, -50%);
}


@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    padding: 0; 
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
