.imagemmer{
    width: 800px;
    height: auto;
    margin: auto;
    display: block;
    text-align: center;
    padding-top: 10%;
    
   
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media only screen and (max-width: 768px) {
    .imagemmer {
        max-width: 150%; /* Define a largura máxima da imagem como 100% do contêiner pai */
        width: 100%;
        padding-top: 20%;
    }
}
